#exclude all files inside dir
TestData/*
Index/*

/.metadata/

#keep a few files as example documents
!TestData/Article0.txt
!TestData/Article1.txt
!TestData/Article2.txt
!TestData/Article3.txt
!TestData/Article4.txt
!TestData/Article5.txt

