#exclude all files inside dir
Reuters_articles/*
Index/*

/.metadata/

#keep a few files as example documents
!Reuters_articles/Article0.txt
!Reuters_articles/Article1.txt
!Reuters_articles/Article2.txt
!Reuters_articles/Article3.txt
!Reuters_articles/Article4.txt
!Reuters_articles/Article5.txt

